.scroll-pane {
    -fx-background: rgb(21, 21, 21);
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: gray;
}

.scroll-bar .thumb:hover {
    -fx-background-color: darkgrey;
}

.increment-button:hover {
    -fx-background-color: darkgrey;
}

.decrement-button:hover {
    -fx-background-color: darkgrey;
}