.menu-bar {
    -fx-background-color: #424242;
}


.button{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 5;
}

.label {
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-font-size: 10pt;
    -fx-font-weight: lighter;
    -fx-text-fill: white;
}

.menu .context-menu {
    -fx-background-color: #424242;
}

.menu {
    -fx-padding: 1 5 1 5;
}

.menu-item {
    -fx-background-color: #424242;
    *-fx-padding: 1 5 1 5;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}