.root {
    -fx-background-image: url('/themes/forest/background.png');
    -fx-background-size: auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10;
    -fx-alignment: center;
}

.center-pane {
    -fx-alignment: center;
}

.button {
    -fx-alignment: center;
    -fx-background-size: auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.attribute-pane {}

.store-button {
    -fx-graphic: url('themes/forest/buttons/store-button.png')
}

.settings-button {
    -fx-graphic: url('themes/forest/buttons/settings-button.png')
}

.health-bar {
    -fx-image: url('themes/forest/health-bar/health-bar.png')
}

.settings-pane {
    -fx-padding: 50;
    -fx-background-image: url('themes/forest/panes/window1.png');
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-alignment: center;
}

.home-button {
    -fx-graphic: url('themes/forest/buttons/home-button.png')
}

.info-button {
    -fx-graphic: url('themes/forest/buttons/info-button.png')
}

.open-button {
    -fx-graphic: url('themes/forest/buttons/open-button.png')
}

.play-button {
    -fx-graphic: url('themes/forest/buttons/play-button.png')
}

.restart-button {
    -fx-graphic: url('themes/forest/buttons/restart-button.png')
}

.save-button {
    -fx-graphic: url('themes/forest/buttons/save-button.png')
}

.store-item {
    -fx-padding: 50;
    -fx-background-color: BLACK;
}

.item-container-background {
    -fx-fill: BROWN;
}

.item-price-container-background {
    -fx-fill: BROWN;
}

.item-price {
    -fx-fill: WHITE;
}

.money-icon {
    -fx-graphic: url('themes/forest/icons/money.png')
}
